<html>
<head>
</head>
<body>

<h1>{{restaurant.name}}</h1>
<h2>Delete menu item:</h2>

<form action="#" method='post'>
	<div>Name:<br><input type='text' size='30' name='name' value='{{item.name}}' readonly/></div>
	<div>Description:<br><input type='text' size='30' name='name' value='{{item.description}}' readonly/></div>
	<div>Price:<br><input type='text' size='30' name='name' value='{{item.price}}' readonly/></div>
	<input type='submit' value='Delete'/>
	<a href='#'>Cancel</a>
</form>

</body>
</html>